<app-header />
<div id="header-anchor"></div>
<ion-content class="ion-padding">
  <div class="section-title">Valeurs relevées</div>
  <app-data-summary
    [currentTemperature]="currentTemperature()"
    [currentHumidity]="currentHumidity()"
    [currentPressure]="currentPressure()"
    [currentSound]="currentSound()"
    [averageTemperature]="averageTemperature()"
    [averageHumidity]="averageHumidity()"
    [averagePressure]="averagePressure()"
    [averageSound]="averageSound()"
  ></app-data-summary>
  <div class="section-title mt-20">Température</div>
  <div class="chart-container">
    <canvas #temperatureChart></canvas>
  </div>
  <div class="section-title mt-20">Humidité</div>

  <div class="chart-container">
    <canvas #humidityChart></canvas>
  </div>

  <div class="section-title mt-20">Pression</div>
  <div class="chart-container">
    <canvas #pressureChart></canvas>
  </div>

  <div class="section-title mt-20">Son</div>
  <div class="chart-container">
    <canvas #soundChart></canvas>
  </div>

  <div class="section-title mt-20 mb-10">Évènements de la salle</div>

  <div class="table-container">
    @if (lastEvents().length === 0) {
      <div class="no-events-message">
        <p>Aucun évènement détecté pour le moment.</p>
      </div>
    } @else {
      <table>
        <tr>
          <th>Évènement</th>
          <th>Heure</th>
        </tr>
        @for (event of lastEvents(); track $index) {
          <tr>
            <td>{{ event.type }}</td>
            <td>{{ event.timestamp | date: "HH:mm" }}</td>
          </tr>
        }
      </table>
    }
  </div>
  <div (click)="downloadCSV()">
    <div class="ion-activatable ripple-parent mt-20">
      Exporter les données en CSV (dernières 24h)
      <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
    </div>
  </div>
</ion-content>
