<app-header />
<div id="header-anchor"></div>
<ion-content class="ion-padding">
  <div class="section-title">Valeurs relevées</div>
  <app-data-summary
    [currentTemperature]="currentTemperature()"
    [currentHumidity]="currentHumidity()"
    [averageTemperature]="averageTemperature()"
    [averageHumidity]="averageHumidity()"
  ></app-data-summary>
  <div class="section-title mt-20">Température et humidité</div>
  <div class="chart-container">
    <canvas #temperatureChart></canvas>
  </div>
</ion-content>
