.chart-container {
  height: 300px;
  width: 100%;
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
}

.graph-title {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.mt-20 {
  margin-top: 20px;
}
