<div class="data-summary">
  <div class="categories">
    <div>
      <p class="category-title">Moyenne</p>
      <div class="category">
        <p>
          Température :
          <span class="sensor-value temperature">{{ averageTemperature() }} °C</span>
        </p>
        <p>
          Humidité :
          <span class="sensor-value humidity">{{ averageHumidity() }} %</span>
        </p>
        <p>
          Pression :
          <span class="sensor-value pressure">{{ averagePressure() }} hPa</span>
        </p>
        <p>
          Son :
          <span class="sensor-value sound">{{ averageSound() }} dB</span>
        </p>
      </div>
    </div>
    <div>
      <p class="category-title">Valeur actuelle</p>
      <div class="category">
        <p>
          Température :
          <span class="sensor-value temperature">{{ currentTemperature() }} °C</span>
        </p>
        <p>
          Humidité :
          <span class="sensor-value humidity">{{ currentHumidity() }} %</span>
        </p>
        <p>
          Pression :
          <span class="sensor-value pressure">{{ currentPressure() }} hPa</span>
        </p>
        <p>
          Son :
          <span class="sensor-value sound">{{ currentSound() }} dB</span>
        </p>
      </div>
    </div>
  </div>
</div>
