<div class="data-summary">
  <div class="categories">
    <div>
      <p class="category-title">Moyenne</p>
      <div class="category">
        <p>
          Température :
          <span class="sensor-value temperature" [class.pending]="isNaN(averageTemperature())">{{ isNaN(averageTemperature()) ? '...' : averageTemperature() + ' °C' }}</span>
        </p>
        <p>
          Son :
          <span class="sensor-value sound" [class.pending]="isNaN(averageSound())">{{ isNaN(averageSound()) ? '...' : averageSound() + ' dB' }}</span>
        </p>
      </div>
    </div>
    <div>
      <p class="category-title">Valeur actuelle</p>
      <div class="category">
        <p>
          Température :
          <span class="sensor-value temperature" [class.pending]="isNaN(currentTemperature())">{{ isNaN(currentTemperature()) ? '...' : currentTemperature() + ' °C' }}</span>
        </p>
        <p>
          Son :
          <span class="sensor-value sound" [class.pending]="isNaN(currentSound())">{{ isNaN(currentSound()) ? '...' : currentSound() + ' dB' }}</span>
        </p>
        <p>
          Pression :
          <span class="sensor-value pressure" [class.pending]="isNaN(currentPressure())">{{ isNaN(currentPressure()) ? '...' : currentPressure() + ' hPa' }}</span>
        </p>
        <p>
          Humidité :
          <span class="sensor-value humidity" [class.pending]="isNaN(currentHumidity())">{{ isNaN(currentHumidity()) ? '...' : currentHumidity() + ' %' }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
