@use "../../../../theme/variables.scss" as *;

.data-summary {
  @include dark-card;
  width: 100%;
  margin-bottom: 10px;

  .categories {
    display: flex;

    > div {
      flex: 1;
      text-align: center;

      &:first-child {
        border-right: 1px solid lightgray;
      }
    }
  }
}

.category-title {
  font-size: 18px;
  margin: 15px 0;

  @media (min-width: 768px) {
    font-size: 20px;
    margin: 20px 0;
  }
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px 10px;
  gap: 8px;

  p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1.3;
  }

  @media (min-width: 768px) {
    align-items: start;
    margin: 0 20px 10px;
    gap: 10px;

    p {
      text-align: left;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
