<div class="data-summary">
  <div class="categories">
    <div>
      <p class="category-title">Moyenne</p>
      <div class="category">
        <p>
          Température :
          <span class="sensor-value temperature">{{ isNaN(averageTemperature()) ? '--' : averageTemperature() + ' °C' }}</span>
        </p>
        <p>
          Humidité :
          <span class="sensor-value humidity">{{ isNaN(averageHumidity()) ? '--' : averageHumidity() + ' %' }}</span>
        </p>
        <p>
          Pression :
          <span class="sensor-value pressure">{{ isNaN(averagePressure()) ? '--' : averagePressure() + ' hPa' }}</span>
        </p>
        <p>
          Son :
          <span class="sensor-value sound">{{ isNaN(averageSound()) ? '--' : averageSound() + ' dB' }}</span>
        </p>
      </div>
    </div>
    <div>
      <p class="category-title">Valeur actuelle</p>
      <div class="category">
        <p>
          Température :
          <span class="sensor-value temperature">{{ isNaN(currentTemperature()) ? '--' : currentTemperature() + ' °C' }}</span>
        </p>
        <p>
          Humidité :
          <span class="sensor-value humidity">{{ isNaN(currentHumidity()) ? '--' : currentHumidity() + ' %' }}</span>
        </p>
        <p>
          Pression :
          <span class="sensor-value pressure">{{ isNaN(currentPressure()) ? '--' : currentPressure() + ' hPa' }}</span>
        </p>
        <p>
          Son :
          <span class="sensor-value sound">{{ isNaN(currentSound()) ? '--' : currentSound() + ' dB' }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
