@use "../../../../theme/variables.scss" as *;

.toolbar {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-left: 5px;
}

.title {
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  @include blue-green-hue;
}
