services:
  sqlite-web:
    image: coleifer/sqlite-web
    container_name: ecoguard-db-manager
    restart: unless-stopped
    privileged: true
    network_mode: "host"
    volumes:
      - ./data:/data
    command: sqlite_web -H 0.0.0.0 -p 8080 /data/ecoguard.db

  influxdb:
    image: influxdb:3-core
    container_name: ecoguard-influxdb
    restart: unless-stopped
    privileged: true
    ports:
      - "8181:8181"
    volumes:
      - ./influxdb-data:/var/lib/influxdb3/data
      - ./influxdb-plugins:/var/lib/influxdb3/plugins
    command:
      - influxdb3
      - serve
      - --node-id=ecoguard-node0
      - --object-store=file
      - --data-dir=/var/lib/influxdb3/data
      - --plugin-dir=/var/lib/influxdb3/plugins
      - --without-auth
    networks:
      - ecoguard-network

  mosquitto:
    image: eclipse-mosquitto:2
    container_name: ecoguard-mqtt
    restart: unless-stopped
    privileged: true
    ports:
      - "1883:1883"  # Port standard (Pour le Raspberry Pi)
      - "9001:9001"  # Port WebSocket (Pour l'App Mobile / Frontend)
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    networks:
      - ecoguard-network

  telegraf:
    image: telegraf:latest
    container_name: ecoguard-telegraf
    privileged: true
    restart: unless-stopped
    volumes:
      # On lie le fichier de config qu'on va cr  er juste apr  s
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    depends_on:
      - mosquitto
      - influxdb
    networks:
      - ecoguard-network

networks:
  ecoguard-network:
    driver: bridge

volumes:
  db-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/cesiot/data