services:
  sqlite-web:
    image: coleifer/sqlite-web
    container_name: ecoguard-db-manager
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - db-data:/data
    command: sqlite_web -H 0.0.0.0 -p 8080 /data/ecoguard.db
    networks:
      - ecoguard-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ecoguard-backend
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - db-data:/app/data
    environment:
      - DATABASE_URL=sqlite:////app/data/ecoguard.db
    networks:
      - ecoguard-network
    depends_on:
      - sqlite-web

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ecoguard-frontend
    restart: unless-stopped
    ports:
      - "8081:80"
    networks:
      - ecoguard-network

networks:
  ecoguard-network:
    driver: bridge

volumes:
  db-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/cesiot/data