@use "../../../../theme/variables.scss" as *;

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.75rem;

  ion-spinner {
    width: 80px;
    height: 80px;
  }

  .spinner-message {
    margin: 0;
    font-size: 22px;
    color: var(--ion-color-medium);
    text-align: center;
  }
}
