@use "../../../theme/variables.scss" as *;

.camera-container {
  @include flex-col-center;
  height: 100%;

  img {
    @include gradient-border;
    border-radius: 8px;
  }
}

.camera-title {
  width: 100%;
}

.light-motion-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.motion-container,
.light-container {
  @include flex-center;
  @include dark-card;
  text-align: center;
}

.motion-container {
  width: 150px;
  height: 100%;
}

.light-container {
  padding: 8px;
}

.no-motion,
.light-off {
  @include red-hue;
}

.motion,
.light-on {
  @include blue-green-hue;
}
