<app-header />

<ion-content class="ion-padding">
  <div class="camera-container">
    @if (!streamLoaded()) {
      <app-spinner message="Chargement de la caméra..." />
    } @else {
      <div class="section-title camera-title">Flux vidéo de la caméra</div>
    }
    <img
      [src]="streamUrl"
      alt="Camera Stream"
      [hidden]="!streamLoaded()"
      (load)="onStreamLoad()"
      (error)="onStreamError()"
    />
    @if (streamLoaded()) {
      <div class="light-motion-container">
        <div class="motion-container" [class.pending]="!motionState()">
          <div [class]="motionClass()">
            {{
              !motionState()
                ? "Mouvement en chargement..."
                : motionState()?.motionDetected
                  ? "Mouvement détecté"
                  : "Aucun mouvement"
            }}
          </div>
        </div>
        <div class="light-container" [class.pending]="!lightState()">
          <div [class]="lightClass()">
            {{
              !lightState()
                ? "Lumière en chargement..."
                : lightState()?.lightOn
                  ? "Lumière allumée"
                  : "Lumière éteinte"
            }}
          </div>
        </div>
      </div>
    }
  </div>
</ion-content>
