<app-header />
<div id="header-anchor"></div>
<ion-content>
  <div class="flex-col-center">
    <div class="container">
      <h1 class="page-title-no-underline">
        Bienvenue sur votre dashboard CESIGuard.
      </h1>

      <!-- Section des valeurs numériques -->
      <div class="section-container">
        <h2 class="section-title">Valeurs numériques</h2>
        <div class="card-grid card-grid-2">
          <!-- Temperature Card -->
          <div class="card">
            <div class="card-title">Température</div>
            <div class="card-value sensor-value temperature">
              {{ currentTemperature() }} °C
            </div>
          </div>

          <!-- Humidity Card -->
          <div class="card">
            <div class="card-title">Humidité</div>
            <div class="card-value humidity-value">
              {{ currentHumidity() }} %
            </div>
          </div>

          <!-- Pressure Card -->
          <div class="card">
            <div class="card-title">Pression</div>
            <div class="card-value pressure-value">
              {{ currentPressure() }} hPa
            </div>
          </div>

          <!-- Sound Card -->
          <div class="card">
            <div class="card-title">Son</div>
            <div class="card-value sensor-value sound">
              {{ currentSound() }} dB
            </div>
          </div>
        </div>
      </div>

      <!-- Section des capteurs booléens -->
      <div class="section-container">
        <h2 class="section-title">Capteurs</h2>
        <div class="card-grid card-grid-2">
          <!-- Motion Card -->
          <div class="card">
            <div class="card-title">Mouvement</div>
            <div
              class="card-value motion-value"
              [class.detected]="motionDetected()"
            >
              {{ motionDetected() ? "Détecté" : "Aucun" }}
            </div>
          </div>

          <!-- Light Card -->
          <div class="card">
            <div class="card-title">Capteur de lumière</div>
            <div
              class="card-value light-value"
              [class.light-on]="lightState().lightOn"
            >
              {{ lightState().lightOn ? "Allumé" : "Éteint" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
