@use "../../../theme/variables.scss" as *;

.section-container {
  margin-bottom: 30px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.card {
  @include flex-center;
  flex-direction: column;
  gap: 16px;
  min-height: 150px;

  @media (min-width: 768px) {
    min-height: 180px;
  }
}

.card-title {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.card-value {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.motion-value,
.light-value {
  @include red-hue;
  font-size: 24px;

  &.detected,
  &.light-on {
    @include blue-green-hue;
  }
}
