// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
$main-light-blue: #24c7d3;
$main-light-green: #6dd55d;
$main-orange: #f59e0b;
$main-red: #ef4444;
$main-purple: #8b5cf6;
$main-pink: #ec4899;
$main-cyan: #29c8e4;
$main-blue: #3b82f6;

.main-button-color {
  --color-selected: #{$main-light-blue};
}

@mixin blue-green-hue {
  background: linear-gradient(
    90deg,
    #{$main-light-blue},
    #{$main-light-green},
    #{$main-light-blue}
  );
  background-size: 300% 100%;
  background-clip: text;
  color: transparent;
  animation: gradient-slide 8s ease-in-out infinite;
}

@mixin orange-red-hue {
  background: linear-gradient(
    90deg,
    #{$main-orange},
    #{$main-red},
    #{$main-orange}
  );
  background-size: 300% 100%;
  background-clip: text;
  color: transparent;
  animation: gradient-slide 6s ease-in-out infinite;
}

@mixin red-hue {
  background: linear-gradient(90deg, #{$main-red}, #c56161, #{$main-red});
  background-size: 300% 100%;
  background-clip: text;
  color: transparent;
  animation: gradient-slide 5s ease-in-out infinite;
}

@mixin purple-pink-hue {
  background: linear-gradient(
    90deg,
    #{$main-purple},
    #{$main-pink},
    #{$main-purple}
  );
  background-size: 300% 100%;
  background-clip: text;
  color: transparent;
  animation: gradient-slide 7s ease-in-out infinite;
}

@mixin cyan-blue-hue {
  background: linear-gradient(
    90deg,
    #{$main-cyan},
    #{$main-blue},
    #{$main-cyan}
  );
  background-size: 300% 100%;
  background-clip: text;
  color: transparent;
  animation: gradient-slide 6.5s ease-in-out infinite;
}

@keyframes gradient-slide {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

p {
  margin: 0;
}
